devroom.lan {
	tls internal
	reverse_proxy localhost:7777 {
		transport http {
			versions 1.1
		}
	}
}

calendar.lan {
	tls internal
	reverse_proxy localhost:3100 {
		transport http {
			versions 1.1
		}
	}
}

finances.lan {
	tls internal
	reverse_proxy localhost:3200 {
		transport http {
			versions 1.1
		}
	}
}
